body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    font-family:Arial;
    color:white;

    /* smooth black star background */
    background-color:black;
    background-image:
        radial-gradient(2px 2px at 20px 30px, white, transparent),
        radial-gradient(2px 2px at 40px 70px, white, transparent),
        radial-gradient(1px 1px at 90px 40px, white, transparent),
        radial-gradient(1px 1px at 130px 80px, white, transparent),
        radial-gradient(2px 2px at 160px 20px, white, transparent);
    background-repeat: repeat;
    background-size: 200px 200px;
}

/* center container */
.clock-container{
    text-align:center;
}

/* Google colors */
.google-title{
    font-size:60px;
    font-weight:bold;
}

.blue{color:#4285F4;}
.red{color:#EA4335;}
.yellow{color:#FBBC05;}
.green{color:#34A853;}

/* gif */
.gif{
    width:130px;
    margin:20px 0;
}

/* clock */
#clock{
    font-size:70px;
    margin-bottom:20px;
    text-shadow:0 0 20px #00e6ff;
}
